.board-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.board-cols{
    width: 100%;
    display: flex;
    height: inherit;
    justify-content: space-around;
    flex: 1 1 0;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    margin-bottom: 100px;
    gap: 5px;
}

.board-title{
    display: flex;
    justify-content: center;
}

.issue-card{
    width: 90%;
}