.projects-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(231, 231, 231) !important;
  border-radius: 15px;
}

.projects-navbar {
  display: flex;
  width: 100%;
  height: 5rem;
  background-color: rgb(231, 231, 231) !important;
  border-radius: 15px;
}

.projects-title{
    margin: 15px 0px 15px 0px !important;
}

.projects-navbar-create{
    height: fit-content !important;
}

.project-create-dialog-name {
  padding-top: 5px;
}

.project-create-dialog {
  display: flex;
  flex-direction: column;
}

.project-create-dialog-content {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  gap: 10px;
}

.projects-create-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width:50%;
  min-height: 400px;
  padding: 1rem;
align-items: center;
}

.projects-create-form-buttons{
    display: flex;
}

.projects-create-form-name{
    margin-top: 1.5rem !important;
}

.project-list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 10%;

}

.projects-main{
    display: flex;
    justify-content: center;
    width: 100%;
}

.project-item{
    min-width: 8rem;
    min-height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}